.site-title a {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.2em;
}

.header tr {
    background-color: #1c1513;
}

.email--description {
    color: #fff;
    line-height: 3em;
}

.menu-item .email--button {
    color: #fff !important;
}

