{% extends 'HampeZurbInkBundle:FoundationForEmails:2/base.html.twig' %}
{% block preHtml %}
    {{ zurb_ink_styles.add("@AppBundle/Resources/public/css/styles.css") }}
{% endblock %}
{% block content%}
<table class="body" data-made-with-foundation="">
    <tr>
        <td class="float-center" align="center" valign="top">
            <center data-parsed="">
                <table class="wrapper header float-center" align="center">
                    <tr>
                        <td class="wrapper-inner">
                            <table class="container">
                                <tbody>
                                <tr>
                                    <td>
                                        <table class="row collapse">
                                            <tbody>
                                            <tr>
                                                <th class="small-6 large-6 columns first">
                                                    <table>
                                                        <tr>
                                                            <h1 class="site-title tmpl-loading">
                                                                <a href="http://www.admios.com/">Admios</a>
                                                            </h1>
                                                        </tr>
                                                    </table>
                                                </th>
                                                <th class="small-6 large-6 columns last">
                                                    <table>
                                                        <tr>
                                                            <th>
                                                                <p class="email--description text-center">{% block emailTitle %}{% endblock %}</p>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="container float-center">
                    <tbody>
                    <tr>
                        <td>
                            <table class="spacer">
                                <tbody>
                                <tr>
                                    <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="row">
                                <tbody>
                                <tr>
                                    <th class="small-12 large-12 columns first last">
                                        <table>
                                            <tr>
                                                <th>
                                                    {% block emailContent %}{% endblock %}
                                                </th>
                                                <th class="expander"></th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
</table>
{% endblock %}