{% extends ":Email:base.html.twig" %}
{% block emailTitle %}
    Office presence email remainder
{% endblock %}
{% block emailContent %}
    <h2>Please, send us your schedule for today</h2>
    <table class="spacer">
        <tbody>
        <tr>
            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
        </tr>
        </tbody>
    </table>
    <p>
        Hi, it's really important for you to let us know your working schedule for today! Have a nice day!
    </p>
    <table class="spacer">
        <tbody>
        <tr>
            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
        </tr>
        </tbody>
    </table>
    <center data-parsed="">
        <table class="menu float-center" align="center">
            <tr>
                <td>
                    <table>
                        <tr>
                            <th class="menu-item float-center"></th>
                            <th class="menu-item float-center">
                                <table class="button google expand">
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <center data-parsed=""><a href="{{ site_url }}" align="center" class="email--button float-center">Get me there!</a></center>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td class="expander"></td>
                                    </tr>
                                </table>
                            </th>
                            <th class="menu-item float-center"></th>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
{% endblock %}