{% extends ":Email:base.html.twig" %}
{% block emailTitle %}
    Today's schedule
{% endblock %}
{% block emailContent %}
    <h2>Here's the list of team members who submitted it's working status today</h2>
    <table class="spacer">
        <tbody>
        <tr>
            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
        </tr>
        </tbody>
    </table>
    <table class="spacer">
        <tbody>
        <tr>
            <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
        </tr>
        </tbody>
    </table>
    <table class="callout">
        <tr>
            <th class="callout-inner">
                {% for schedule in schedules %}
                    <h4>{{ schedule.name }}:</h4>
                    <ol>
                        {% for user in schedule.users %}
                            <li>{{ user.getUsername() }} - {{ user.getEmail() }}</li>
                        {% endfor %}
                    </ol>
                {% endfor %}
            </th>
            <th class="expander"></th>
        </tr>
    </table>
{% endblock %}